<h1>Order Types	</h1>
	<% if @order_types.empty?	%>
		<p>No Order Types have been created</p>
	<% else 	%>
		<table>
			<tr><th>Order Type	</th>	<th>Description		</th>	</tr>
			<% for order_type in @order_types	%>
				<tr><td><%= order_type.order_type													%>	</td>
					<td><%= order_type.description													%>	</td>
					<td><%= link_to "Edit", edit_admin_order_type_path(order_type)					%>	</td>
					<td><%= order_type.deleteable? ? link_to("Delete", admin_order_type_path(order_type), :method => :delete) : ""	%>	</td>
				</tr>
			<% end 	%>
		</table>
	<% end %>
	<br><br><hr><br>
	<h3>Create New Order Type	</h3>
	<%= form_for [:admin, @order_type] do |form|		%>
		<%= form.hidden_field :company_id, :value => @warehouse.company.id	%>
		<table>
			<tr><td>Order Type					</td>	<td><%= form.text_field :order_type			%>	</td></tr>
			<tr><td>Descripion					</td>	<td><%= form.text_field :description		%>	</td></tr>
		</table>
		<%= submit_tag "Create Order Type"	%>
	<% end 	%>
			
