<h1>Welcome to WMS </h1>

	<h3>Configuration</h3>
		<h4>Master Data</h4>
			<p>
			<ul>
				<li><%= link_to "Companies" , 			:controller => 'admin', :action => 'companies' 			%></li>
				<li><%= link_to "Warehouses", 			:controller => 'admin', :action => 'warehouses' 		%></li>
				<li><%= link_to "System Parameters",	:controller => 'admin', :action => 'system_parameters'	%></li>
				<li><%= link_to "Product Statuses",		:controller => 'admin',	:action => 'product_statuses'	%></li>
				<li><%= link_to	"Product Categories", 	:controller => 'admin', :action => 'product_categories'	%></li>
				<li><%= link_to "Products",				:controller => 'admin', :action => 'products'			%></li>
				<li><%= link_to	"Units of Measure",		:controller => 'admin',	:action => 'uoms'				%></li>
				<li><%= link_to	"Suppliers", 			:controller => 'admin', :action => 'suppliers'			%></li>
				<li><%= link_to "Location Types",		:controller => 'admin', :action => 'location_types'		%></li>
				<li><%= link_to "Locations",			:controller => 'admin', :action => 'locations'			%></li>
				<li><%= link_to "Users",				:controller => 'admin', :action => 	'users'				%></li>
			</ul>
			</p>
		<h4>Inbound</h4>
			<p>
			<ul>
				<li><%= link_to "Purchase Order Types",		:controller => 'admin', :action => 'purchase_order_types'	%></li>
				<li><%= link_to "Receipt Types",			:controller => 'admin', :action => 'receipt_types'			%></li>
				<li><%= link_to	"Storage Zones",			:controller => 'admin', :action => 'storage_zones'			%></li>
				<li><%= link_to "Storage Strategies",		:controller => 'admin', :action => 'storage_strategies'		%></li>
				<li><%= link_to	"Storage Strategy Rules",	:controller => 'admin',	:action => 'storage_strategy_rules'	%></li>
			</ul>
			</p>
		<h4>Outbound</h4>
			<p>
			<ul>
				<li><%= link_to	"Replenishment Locations",		:controller => 'admin',	:action => 'replenishment_locations'	%></li>
				<li><%= link_to "Customer Types",				:controller => 'admin', :action => 'customer_types'				%></li>
				<li><%= link_to "Order Types",					:controller => 'admin', :action => 'order_types'				%></li>
				<li><%= link_to "Allocation Zones", 			:controller => 'admin', :action => 'allocation_zones'			%></li>
				<li><%= link_to	"Allocation Strategy",			:controller => 'admin',	:action => 'allocation_strategies'		%></li>
				<li><%= link_to "Allocation Strategy Rules",	:controller => 'admin', :action => 'allocation_strategy_rules'	%></li>
			</ul>
			</p>
				
