<h1>Company Warehouses</h1>

	<% if @company.warehouses.empty? %>
		<p>No warehouses for this company created yet.</p>
	<% else %>
		<table>
			<tr>	<th>Warehouse Name	</th>
				<th>Address		</th>
				<th>City		</th>
				<th>State		</th>
				<th>Country		</th>
			</tr>
			<% for warehouse in @company.warehouses %>
				<tr>	<td><%= warehouse.name			%></td>
					<td><%= warehouse.address_1		%></td>
					<td><%= warehouse.city			%></td>
					<td><%= warehouse.state			%></td>
					<td><%= warehouse.country.name		%></td>
				</tr>
			<% end %>
	<% end %>
		
	<h3>Create New Warehouse</h3>
		<% form_for :warehouse, :url => {:controller => 'setup', :action => 'add_warehouse'} do |form| %>
			<%= form.hidden_field :company_id, :value => @company.id %>
			<%= render :partial => "warehouse", :locals => {:form => form }%>
			<%= submit_tag "Create Warehouse" %>
		<% end %>
		
