<h1>Customer Types	</h1>
	<% if @customer_types.empty?	%>
		<p>No Customer Types have been created	</p>
	<% else 	%>
		<table>
			<tr><th>Code	</th>	<th>Description		</th></tr>
			<% @customer_types.each do |customer_type|	%>
				<tr><td><%= customer_type.code																																					%>	</td>
					<td><%= customer_type.description																																			%>	</td>
					<td><%= link_to "Edit", :controller => 'admin', :action => 'edit_customer_type', :customer_type => customer_type															%>	</td>
					<td><%= customer_type.deleteable? ? link_to("Delete", {:controller => 'admin', :action => 'delete_customer_type', :customer_type => customer_type}, :method => :post) : ""	%>	</td>
				</tr>
			<% end %>
		</table>
	<% end %>
	<br><br><hr><br>
	<h4>Create New Customer Type	</h4>
	<%= form_for :customer_type, :url => {:controller => 'admin', :action => 'create_customer_type'} do |form|	%>
		<%= form.hidden_field :company_id, :value => @company.id			%>
		<%= render :partial => 'customer_type', :locals => {:form => form}	%>
		<%= submit_tag "Create Customer Type"								%>
	<% end %>
				
