<h3>Add Locations</h3>
	<%= form_for :location_type, :url => add_admin_locations_path do |form|	%>
		<table>
			<tr><td>Location Type	</td>	<td><%= form.select :id, @location_types.collect {|lt| [lt.code, lt.id]}%></td></tr>
		</table>
		<%= submit_tag "Continue"%>
	<% end %>
	<% if request.post?	%>
		<p>
			Creating Locations of Location Type <%= @location_type.name	%>
		<p>
		<p>Location Dimensions</p>
		<table>
			<tr><td>Length						</td>	<td><%= @location_type.length					%>	</td></tr>
			<tr><td>Height						</td>	<td><%= @location_type.height					%>	</td></tr>
			<tr><td>Width						</td>	<td><%= @location_type.width					%>	</td></tr>
			<tr><td>Maximum Weight				</td>	<td><%= @location_type.maximum_weight			%>	</td></tr>
			<tr><td>Maximum Containers			</td>	<td><%= @location_type.maximum_containers		%>	</td></tr>
		</table>
		<br><br>
		<h4>Location Range</h4>
		<%= form_for :location_data, :url => admin_locations_path do |form|	%>
			<%= form.hidden_field :location_type_id, 	:value => @location_type.id	%>
			<%= form.hidden_field :warehouse_id, 		:value => @warehouse.id		%>
			<table>
				<% if @location_type.zone	%>
					<tr><td>From Zone									</td>	
						<td><%= form.text_field	:from_zone			%>	</td>
						<td>To Zone										</td>	
						<td><%= form.text_field :to_zone			%>	</td>
					</tr>
				<% end %>
				<% if @location_type.aisle	%>
					<tr><td>From Aisle									</td>	
						<td><%= form.text_field	:from_aisle			%>	</td>
						<td>To Aisle									</td>	
						<td><%= form.text_field :to_aisle			%>	</td>
					</tr>
				<% end %>
				<% if @location_type.bay	%>
					<tr><td>From Bay								</td>	
						<td><%= form.text_field	:from_bay		%>	</td>
						<td>To Bay									</td>	
						<td><%= form.text_field :to_bay			%>	</td>
					</tr>
				<% end %>
				<% if @location_type.level	%>
					<tr><td>From Level								</td>	
						<td><%= form.text_field	:from_level		%> 	</td>	
						<td>To Level								</td>	
						<td><%= form.text_field :to_level		%>	</td>
					</tr>
				<% end %>
				<% if @location_type.position	%>
					<tr><td>From Position							</td>	
						<td><%= form.text_field	:from_position	%>	</td>
						<td>To Position								</td>	
						<td><%= form.text_field :to_position	%>	</td>
					</tr>
				<% end %>
			</table>
			<h4>Location Properties	</h4>
			<%= render :partial => "location", :locals => {:form => form}	%>
			<%= submit_tag "Create Locations"%>
		<% end %>
	<% end 	%>
	
