<h3>Edit Location </h3>

	<table>
		<tr><td>Location Name	</td>	<td><%= @location.name			%></td></tr>
		<tr><td>Location Type	</td>	<td><%= @location.location_type.code	%></td></tr>
		<tr><td>Zone		</td>	<td><%= @location.zone			%></td></tr>
		<tr><td>Aisle		</td>	<td><%= @location.aisle			%></td></tr>
		<tr><td>Bay		</td>	<td><%= @location.bay			%></td></tr>
		<tr><td>Position	</td>	<td><%= @location.position		%></td></tr>
	</table>

	<h4>Edit Details</h4>
	<%= form_for [:admin, @location] do |form| %>
		<%= form.hidden_field :id					%>
		<%= render :partial => 'location', :locals => {:form => form}	%>
		<%= submit_tag "Update Location"				%>
	<% end %>
	
