<table>
	<tr><td>Name				</td>	<td><%= form.text_field :name								%>	</td></tr>
	<tr><td>Code				</td>	<td><%= form.text_field :code								%>	</td></tr>
	<tr><td>Description			</td>	<td><%= form.text_field :description						%>	</td></tr>
	<tr><td>Measurement Type	</td>	<td><%= form.select :type, Uom.types.collect {|m| [m,m]}	%>	</td></tr>
	<tr><td>Discrete UOM		</td>	<td><%= form.check_box :discrete							%>	</td></tr>
</table>
