<h2>Order Details	</h2>
	
	<table>
		<tr><td>Order Number		</td>	<td><%= @order.order_number				%>	</td></tr>
		<tr><td>Customer			</td>	<td><%= @order.customer.name			%>	</td></tr>
		<tr><td>Order Type			</td>	<td><%= @order.order_type.order_type	%>	</td></tr>
		<tr><td>Priority			</td>	<td><%= @order.priority					%>	</td></tr>
		<tr><td>State				</td>	<td><%= @order.state					%>	</td></tr>		
		<tr><td>Ship To Address		</td>	<td><%= @order.ship_to_address_1		%>	</td></tr>
		<tr><td>Ship To Address		</td>	<td><%= @order.ship_to_address_2		%>	</td></tr>
		<tr><td>Ship To City		</td>	<td><%= @order.ship_to_city				%>	</td></tr>
		<tr><td>Ship To State		</td>	<td><%= @order.ship_to_state			%>	</td></tr>
		<tr><td>Ship Tp Postal Code	</td>	<td><%= @order.ship_to_postal_code		%>	</td></tr>
		<tr><td>Ship To Country		</td>	<td><%= @order.ship_to_country.name		%>	</td></tr>
	</table>
	
	<h3>Order Lines	</h3>
	
	<% if @order.order_lines.empty? %>
		<p>No Order Lines for this order have been created yet</p>
	<% else %>
		<table>
			<tr><th>Line Number	</th>	<th>Product	</th>	<th>Quantity Ordered</th>	<th>Product Status	</th></tr>
			<% @order.order_lines.each do |order_line|	%>
				<tr><td><%= order_line.line_sequence_number											%>	</td>
					<td><%= order_line.product.name													%>	</td>
					<td><%= order_line.quantity_ordered												%>	</td>
					<td><%= order_line.product_status.code unless order_line.product_status.nil?	%>	</td>
				</tr>
			<% end %>
		</table>
	<% end %>
	
			