<h1>Purchase Order	</h1>

	<table>
		<tr><th>Purchase Order Number	</th>	<td><%= @purchase_order.purchase_order_number												%>	</td></tr>
		<tr><th>Purchase Order Type		</th>	<td><%= @purchase_order.purchase_order_type.nil? ? "" : @purchase_order.purchase_order_type	%>	</td></tr>
		<tr><th>Supplier				</th>	<td><%= @purchase_order.supplier.nil? ? "" : @purchase_order.supplier.name					%>	</td></tr>
		<tr><th>Ship Date				</th>	<td><%= @purchase_order.ship_date															%>	</td></tr>
	</table>
	<br><br>
	<p>
		<%= link_to "Edit", :controller => 'receiving', :action => 'edit_purchase_order', :purchase_order => @purchase_order	%>
	</p>
	<h3>Purchase Order Lines	</h3>
	
		<% if @purchase_order.purchase_order_lines.empty? %>
			<p>No Purchase Order Lines for this Purchase Order</p>
		<% else %>
			<table>
				<tr><th>Line Number	</th>	<th>Product	</th>	<th>Ordered Quantity	</th>	<th>Ordered UOM</th>	<th>Total Quantity</th></tr>
				<% @purchase_order.purchase_order_lines.each do |purchase_order_line| %>
					<tr><td><%= purchase_order_line.line_number					%>	</td>
						<td><%= purchase_order_line.product.name				%>	</td>
						<td><%= purchase_order_line.quantity_uom				%>	</td>
						<td><%= purchase_order_line.product_package.uom.name	%>	</td>
						<td><%= purchase_order_line.total_quantity				%>	</td>
						<% if purchase_order_line.editable?	%>
							<td><%= link_to "Edit", :controller => 'receiving', :action => 'edit_purchase_order_line', :purchase_order_line => purchase_order_line		%>	</td>
							<td><%= link_to "Delete", :controller => 'receiving', :action => 'delete_purchase_order_line', :purchase_order_line => purchase_order_line 	%>	</td>
						<% end %>
				<% end %>
			</table>
		<% end %>
		<br><br><hr><br>
	<% if @purchase_order.editable?	%>
		<h3>Add PO Line
		<% form_for :purchase_order_line, :url => {:controller => 'receiving', :action => 'create_purchase_order_line'} do |form|	%>
			<%= form.hidden_field :purchase_order_od, :value => @purchase_order.id		%>
			<%= render :partial => 'purchase_order_line', :locals => {:form => form}	%>
			<%= submit_tag "Add PO Line"												%>
		<% end %>
	<% end %>