<h1>Purchase Orders</h1>
<p>Please enter your search criteria	</p>

	<% form_for :purchase_orders, :url => {:controller => 'receiving', :action => 'purchase_orders'} do |form|	%>
	<table>
		<tr><td>Purchase Order Type	</td>	<td><%= form.select :purchase_order_type_id	@company.purchase_order_types.collect {|pt| [pt.purchase_order_type]}, :include_blank => true	%>	</td>
			<td>Supplier			</td>	<td><%= form.select :supplier_id, @company.suppliers.collect {|s| [s.name, s.id]}, :include_blank => true									%>	</td>
		</tr>
		<tr><td>Purchase Order Number</td>	<td><%= form.text_field	:purchase_order_number																								%>	</td>
			<td>Ship Date			</td>	<td><%= form.date_select :ship_date, :include_blank => true																					%>	</td>
		</tr>
	</table>
	<%= submit_tag "Look Up"%>
	<% end %>
	<p><%= link_to "Create New Purchase Order", :controller => 'receiving', :action => 'new_purchase_order'	%></p>
	<br><br><hr><br>
	<% if request.post?	%>
		<% unless @purchase_orders.empty?	%>
			<table>
				<tr><th>Purchase Order Number	</th>	<th>Supplier	</th>	<th>Ship Date	</th>	<th>Total Units	</th></tr>
				<% @purchase_orders.each do |purchase_order|	%>
					<tr><td><%= purchase_order.purchase_order_number			 																%>	</td>
						<td><%= purchase_order.supplier.nil? ? "" : purchase_order.supplier.name												%>	</td>
						<td><%= purchase_order.ship_date																						%>	</td>
						<td><%= purchase_order.total_ordered_quantity																			%>	</td>
						<td><%= link_to "View", :controller => 'receiving', :action => 'view_purchase_order'									%>	</td>
						<td><%= link_to "Edit", :controller => 'receiving', :action => 'edit_purchase_order', :purchase_order => purchae_order	%>	</td>
					</tr>
				<% end %>	
		<% else %>
			<p>No Purchase Orders match your criteria.</p>
		<% end %>
	<% end %>
	
	
