<h3>Edit Product Location Assignment	</h3>
	<p>Location:	<%= @location.name	%>	</p>
	<p>Product:		<%= @product_location_assignment.product.name	%></p>
	
	<%= form_for [:admin, @product_location_assignment] do |form|	%>
		<%= form.hidden_field	:id	%>
		<%= render :partial => 'product_location_assignment', :locals => {:form => form}	%>
		<%= submit_tag "Update"		%>
	<% end %>
