<table>
	<tr><td>Unit of Measure			</td>	<td><%= form.select :uom_id, Uom.all(:order => 'code').collect {|uom| [uom.code, uom.id]}	%>	</td></tr>
	<tr><td>Length					</td>	<td><%= form.text_field :length																%>	</td></tr>
	<tr><td>Width					</td>	<td><%= form.text_field	:width																%>	</td></tr>
	<tr><td>Height					</td>	<td><%= form.text_field	:height																%>	</td></tr>
	<tr><td>Quantity				</td>	<td><%= form.text_field	:quantity															%>	</td></tr>
	<tr><td>Logical Each?			</td>	<td><%= form.check_box	:logical_each														%>	</td></tr>
	<tr><td>Logical Case?			</td>	<td><%= form.check_box 	:logical_case 														%>	</td></tr>
	<tr><td>Logical Pallet?			</td>	<td><%= form.check_box	:logical_pallet														%>	</td></tr>
</table>
		