<h4>Basic Product Information</h4>
<table>
	<tr>
		<td><%= form.label :name				%>	</td>	
		<td><%= form.text_field :name			%>	</td>
	</tr>
	<tr>
		<td><%= form.label :barcode				%>	</td>	
		<td><%= form.text_field	:barcode		%>	</td>
	</tr>
	<tr>
		<td><%= form.label :alias 				%>	</td>	
		<td><%= form.text_field	:alias			%>	</td>
	</tr>
	<tr>
		<td><%= form.label :description			%>	</td>	
		<td><%= form.text_field :description	%>	</td>
	</tr>
	<tr>
		<td><%= form.label :gtin				%>	</td>	
		<td><%= form.text_field	:gtin_number	%>	</td>
	</tr>
	<tr>
		<td><%= form.label :upc_number			%>	</td>	
		<td><%= form.text_field	:upc_number		%>	</td>
	</tr>
	<tr>
		<td><%= form.label :supplier_id			%>	</td>	
		<td><%= form.select	:supplier_id, Supplier.all.collect {|s| [s.name, s.id]}, :include_blank => true		%>	</td>
	</tr>
	<tr>
		<td><%= form.label :category_id ,"Category"%></td>	
		<td><%= form.select :product_category_id, ProductCategory.all.collect {|pc| [pc.name, pc.id]}, :prompt => "Select a Category"		%>	</td>
	</tr>
	<tr id = "product_subcategory_field">
		<td><%= form.label :subcategory_id, "Subcategory" %>	</td>	
		<td><%= form.select :product_subcategory_id, ProductSubcategory.all.collect {|ps| [ps.name, ps.id]}, :prompt => "Select a Subcategory"	%>	</td>
	</tr>
</table>		
