<table>
	<tr><td>Name			</td>	<td><%= form.text_field :name													%>	</td></tr>
	<tr><td>Description		</td>	<td><%= form.text_field	:description											%>	</td></tr>
	<tr><td>Address			</td>	<td><%= form.text_field :address_1												%>	</td></tr>
	<tr><td>Address 2		</td>	<td><%= form.text_field	:address_2												%>	</td></tr>
	<tr><td>City			</td>	<td><%= form.text_field	:city													%>	</td></tr>
	<tr><td>State			</td>	<td><%= form.text_field	:state													%>	</td></tr>
	<tr><td>Postal Code		</td>	<td><%= form.text_field	:postal_code											%>	</td></tr>
	<tr><td>Country			</td>	<td><%= form.select :country_id, Country.all(:order => 'iso_code').collect {|c| [c.iso_code, c.id]}	%>	</td></tr>
	<tr><td>Telephone		</td>	<td><%= form.text_field	:telephone												%>	</td></tr>
	<tr><td>Email			</td>	<td><%= form.text_field	:email													%>	</td></tr>
	<tr><td>Website			</td>	<td><%= form.text_field :website												%>	</td></tr>
</table>
