<h3>Allocation Strategies	</h3>

	<% if @allocation_strategies.empty?	%>
		<p>No Allocation Strategies have been defined.</p>
	<% else 	%>
		<table>
			<tr><th>Code		</th>	<th>Name			</th>	<th>Description		</th>	</tr>
			<% @allocation_strategies.each do |allocation_strategy| %>
				<tr><td><%= allocation_strategy.code																																									%>	</td>
					<td><%= allocation_strategy.name																																									%>	</td>
					<td><%= allocation_strategy.description																																								%>	</td>
					<td><%= link_to "Details", 	:controller => 'admin', :action => 'allocation_strategy_lines', :allocation_strategy => allocation_strategy																%>	</td>
					<td><%= link_to "Edit", 	:controller => 'admin', :action => 'edit_allocation_strategy', :allocation_strategy => allocation_strategy																%>	</td>
					<td><%= allocation_strategy.deleteable? ? link_to("Delete", {:controller => 'admin', :action => 'delete_allocation_strategy', :allocation_strategy => allocation_strategy}, :method => :post) : ""	%>	</td>
				</tr>
			<% end %>
		</table>
	<% end 	%>
	<br><br><hr><br>
	<%= form_for :allocation_strategy, :url => {:controller => 'admin', :action => 'create_allocation_strategy'} do |form|	%>
		<%= form.hidden_field	:warehouse_id, :value => @warehouse.id	%>
		<%= render :partial => 'allocation_strategy', :locals => {:form => form}	%>
		<%= submit_tag "Create Allocation Strategy"	%>
	<% end 	%>
			
			
