<h3>Product Categories</h3>
	<% if @product_categories.empty? %>
		<p>No Product Categories created yet.</p>
	<% else %>
		<table>
			<tr><th>Name	</th>	<th>Description	</th>	</tr>
			<% for product_category in @product_categories %>
				<tr><td><%= product_category.name 																																							%>	</td>
					<td><%= product_category.description																																					%>	</td>
					<td><%= link_to "Subcategories", :controller => 'admin', :action => 'product_subcategories', :product_category => product_category														%>	</td>
					<td><%= link_to "Edit", :controller => 'admin', :action => 'edit_product_category', :product_category => product_category																%>	</td> 
					<td><%= product_category.deleteable? ? link_to("Delete", {:controller => 'admin', :action => 'delete_product_category', :product_category => product_category}, :method => :post) : ""	%>	</td>
				</tr>
			<% end %>
		</table>
	<% end %>
	<br><br><hr>
	<h4>Create New Product Category<h4>
		<% form_for :product_category, :url => {:controller => 'admin', :action => 'create_product_category'} do |form| %>
			<%= form.hidden_field :company_id, :value => User.find(session[:user_id]).warehouse.company_id %>
			<table>
				<tr><td>Product Category Name			</td>	<td><%= form.text_field :name 			%>	</td></tr>
				<tr><td>Product Category Description	</td>	<td><%= form.text_field :description	%>	</td></tr>
			</table>
			<%= submit_tag "Create Product Category"%>
		<% end %>