<h2>Replenishment Locations	</h2>

	<% form_for :location, :url => {:controller => 'admin', :action=> 'replenishment_locations'} do |form|	%>
		<table>
			<tr><td>Location				</td>	<td><%= form.text_field	:location																										%>	</td></tr>
			<tr><td>Allocation Zone			</td>	<td><%= form.select :allocation_zone_id, @warehouse.allocation_zones.collect {|az| [az.name, az.id]}, :include_blank => true 			%>	</td></tr>
			<tr><td>Allocation Strategies	</td>	<td><%= form.select :allocation_strategy_id, @warehouse.allocation_strategies.collect {|as| [as.name, as.id]}, :include_blank => true	%>	</td></tr>
		</table>
		<%= submit_tag "Lookup Locations"	%>
	<% end %>
	<br><br><hr><br>
	<% if request.post?	%>
		<% if @locations.empty?	%>	
			<p>No locations were found that match this criteria.</p>
		<% else 	%>
			<table>
				<tr><th>Location		</td>	<th>Product Location Assignments	</th></tr>
				<% @locations.each do |location|	%>
					<tr><td><%= location.name																																	%>	</td>
						<td><%= link_to location.product_location_assignments.count, :controller =>'admin', :action => 'product_location_assignments', :location => location	%>	</td>
					</tr>
				<% end %>
			</table>
		<% end %>
	<% end %>