<h1>System Parameter Maintenance</h1>
<p>Please enter your search criteria</p>
	<% form_for :system_parameter, :url => {:controller => 'admin', :action => 'system_parameters'} do |form| %>
		<table>
			<tr><td>Parameter Code 			</td>	<td><%= form.text_field :code %>		</td>
				<td>Parameter Description	</td>	<td><%= form.text_field :description %>	</td>
			</tr>
			<tr><td><%= submit_tag "Search"%></td></tr>
		</table>
	<% end %>
<br><br><hr><br>
<% if request.post? %>
	<% unless @system_parameters.empty? %>
		<table>
			<tr><th>Code	</th>	<th>Description	</th>	<th>Value	</th>	</tr>
			<% for system_parameter in @system_parameters %>
				<tr><td><%= system_parameter.code 																								%>	</td>
					<td><%= system_parameter.description																						%>	</td>
					<td><%= system_parameter.value																								%>	</td>
					<td><%= link_to "Edit", :controller => 'admin', :action => 'edit_system_parameter', :system_parameter => system_parameter	%>	</td>
				</tr>
			<% end %>
	<% end %>
	
<% end %>
