<h4>Basic Location Type Information </h4>
<table>
	<tr><td>Code						</td>	<td><%= form.text_field	:code									%>	</td></tr>
	<tr><td>Name						</td>	<td><%= form.text_field	:name									%>	</td></tr>
	<tr><td>Zone?						</td>	<td><%= form.check_box	:zone									%>	</td></tr>
	<tr><td>Aisle?						</td>	<td><%= form.check_box	:aisle									%>	</td></tr>
	<tr><td>Bay?						</td>	<td><%= form.check_box	:bay									%>	</td></tr>
	<tr><td>Level?						</td>	<td><%= form.check_box 	:level									%>	</td></tr>
	<tr><td>Position?					</td>	<td><%= form.check_box	:position								%>	</td></tr>
</table>
<h4>Location Dimensions	and Capacities</h4>
<p>
	Default Company Length UOM: <%= User.find(session[:user_id]).company.default_length_uom.name	%>
</p>
<p>
	Default Company Weight UOM: <%= User.find(session[:user_id]).company.default_weight_uom.name	%>
</p>
<table>
	<tr><td>Length						</td>	<td><%= form.text_field	:length									%>	</td></tr>
	<tr><td>Width						</td>	<td><%= form.text_field	:width									%>	</td></tr>
	<tr><td>Height						</td>	<td><%= form.text_field	:height									%>	</td></tr>
	<tr><td>Maximum Weight				</td>	<td><%= form.text_field	:maximum_weight							%>	</td></tr>
	<tr><td>Maximum Containers			</td>	<td><%= form.text_field	:maximum_containers						%>	</td></tr>
</table>
