<h1>New Receipt	</h1>
	<%= %>
	<%= form_for :receipt, :url => {:controller => 'receiving', :action => 'create_receipt'} do |form|	%>
		<%= form.hidden_field :warehouse_id, :value => @warehouse.id	%>
		<%= render :partial => 'receipt', :locals => {:form => form}	%>
		<%= submit_tag "Create Receipt"									%>
	<% end %>
<%= link_to "Back To Receipts", :controller => 'receiving', :action => 'receipts'	%>
