<h1>Receipt Details	</h1>
<table>
	<tr><td>Supplier				</td>	<td><%= @receipt.warehouse.name									%>	</td></tr>
	<tr><td>Receipt Type			</td>	<td><%= @receipt.supplier.nil? ? "" :  @receipt.supplier.name	%>	</td></tr>
	<tr><td>Estimated Receipt Date	</td>	<td><%= @receipt.estimated_receipt_date							%>	</td></tr>
	<tr><td>Receipt Number			</td>	<td><%= @receipt.receipt_number									%>	</td></tr>
</table>
<h3>Receipt Lines	</h3>
<% if @receipt.receipt_lines.empty? %>
	<p>No receipt lines for this receipt yet</p>
<% else %>
	<table>
		<tr><th>LP	</th>	<th>Product	</th>	<th>Lot	</th>	<th>Product Status</th>	<th>Quantity	</th></tr>
		<% @receipt.receipt_lines.each do |receipt_line|	%>
			<tr><td><%= receipt_line.lp								%>	</td>
				<td><%= receipt_line.product.name					%>	</td>
				<td><%= receipt_line.lot.name						%>	</td>
				<td><%= number_with_delimiter receipt_line.quantity	%>	</td>
			</tr>
		<% end %>
	</table>
<% end %>
<br><br><hr><br>
<% form_for :receipt_line, :url => {:controller => 'receiving', :action => 'create_receipt_line'} do |form|	%>
	<%= form.hidden_value :receipt_id, :value => @receipt.id			%>
	<%= render :partial => 'receipt_line', :locals => {:form => form}	%>
	<%= submit_tag "Create Receipt Line"								%>
<% end %>