<h1>Purchase Order Details	</h1>

	<table>
		<tr><td>Purchase Order Numer	</td>	<td><%= @purchase_order.purchase_order_number																	%>	</td></tr>
		<tr><td>Purchase Order Type		</td>	<td><%= @purchase_order.purchase_order_type.nil? ? "" : @purchase_order.purchase_order_type.purchase_order_type	%>	</td></tr>
		<tr><td>Supplier				</td>	<td><%= @purchase_order.supplier.nil? ? "" : @purchase_order.supplier.name										%>	</td></tr>
		<tr><td>Ship Date				</td>	<td><%= @purchase_order.ship_date																				%>	</td></tr>
	<table>
	
	<h3>Purchase Order Lines	</h3>
	
	<% if self.purchase_order_lines.empty?	%>
		<p>No Lines have been added for this Purchase Order</p>
	<% else %>
		<table>
			<tr><th>Line Number	</th>	<th>Product </th>	<th>Quantity Ordered	</th>	<th>Quantity Received	</th>	<th>Comments	</th></tr>
			<% self.purchase_order_lines.each do |purchase_order_line|	%>
				<tr><td><%= purchase_order_line.line_number																																												%>	</td>
					<td><%= purchase_order_line.product.name																																											%>	</td>
					<td><%= purchsae_order_line.quantity																																												%>	</td>
					<td><%= purchase_order_line.received_quantity																																										%>	</td>
					<td><%= purchase_order_line.comments																																												%>	</td>
					<td><%= purchase_order_line.purchase_order.editable? ? link_to("Edit", :controller => 'receiving', :action => 'edit_purchase_order_line', :purchase_order_line => purchase_order_line) : ""							%>	</td>
					<td><%= purchase_order_line.purchase_order.editable? ? link_to("Delete", {:controller => 'receiving', :action => 'delete_purchase_order_line', :purchase_order_line => purchase_order_line}, :method => :post) : ""	%>	</td>
				</tr>
			<% end %>
		</table>
	<% end %>
			