<h2>Dock Doors	</h2>
	<% if @dock_doors.empty?	%>
		<p>No Dock Doors have been created for this warehouse.</p>
	<% else 					%>
		<table>
			<tr><th>Dock Door Name	</th>	<th>Direction	</th></tr>
			<% @dock_doors.each do |dock_door|	%>
				<tr><td><%= dock_door.name																					%>	</td>
					<td><%= dock_door.direction																				%>	</td>
					<td><%= link_to "Edit", :controller => 'admin', :action => 'edit_dock_door', :dock_door => dock_door	%>	</td>
				</tr>
			<% end %>
		</table>
	<% end %>
	<br><br><hr><br>
	<% form_for :dock_door, :url => {:controller => 'admin', :action => 'create_dock_door'} do |form|	%>
		<%= form.hidden_field	:warehouse_id, :value => @warehouse.id	%>
		<%= render :partial => 'dock_door', :locals => {:form => form}	%>
		<%= submit_tag "Create Dock Door"								%>
	<% end %>