<h1>Product Statuses</h1>
	<% if @product_statuses.empty?	%>
		<p>No product statuses created yet.</p>
	<% else %>
		<table>
			<tr><th>Product Status	</th>	<th>Description	</th>	<th>Allocatable?	</th>	</tr>
			<% @product_statuses.each do |product_status|	%>
				<tr><td><%= product_status.code																								%>	</td>
					<td><%= product_status.description																						%>	</td>
					<td><%= product_status.allocatable																						%>	</td>
					<td><%= link_to "Edit", :controller => 'admin', :action => 'edit_product_status', :product_status => product_status		%>	</td>
				<tr>
			<% end %>
		</table>
	<% end %>
	<br><br><hr><br>
	<h3>Create New Product Status	</h3>
		<% form_for :product_status, :url => {:controller => 'admin', :action => 'create_product_status'} do |form|	%>
			<%= form.hidden_field	:company_id, :value => @company.id			%>
			<%= render :partial => 'product_status', :locals => {:form => form}	%>
			<%= submit_tag "Create Product Status"								%>
		<% end %>
		