<h1>Warehouses for Company <%= @company.name	%></h1>

	<% if @company.warehouses.empty? %>
		<p>No warehouses have been created for this company yet</p>
	<% else %>
		<table>
			<tr><th>Name	</th>	<th>Address</th>	<th>City	</th>	<th>State	</th>	<th>Country	</th></tr>
			<% @company.warehouses.each do |warehouse|	%>
				<tr><td><%= warehouse.name												%>	</td>
					<td><%= warehouse.address_1											%>	</td>
					<td><%= warehouse.city												%>	</td>
					<td><%= warehouse.state												%>	</td>
					<td><%= warehouse.country.iso_code									%>	</td>
					<td><%= link_to "View Details",  admin_warehouse_path(warehouse)	%>	</td>
					<td><%= link_to "Edit", edit_admin_warehouse_path(warehouse)		%>	</td>
					<td><%= warehouse.deleteable? ? link_to("Delete", admin_warehouse_path(warehouse), :method => :delete) : ""	%>	</td>
				</tr>
			<% end %>
		</table>
	<% end %>
	
	<p>
		<%= link_to "Add New Warehouse", new_admin_warehouse_path	%>
	</p>