<h3>Inbound Options</h3>
	<p>Please select an option from the list below</p>
	
	<h4>Receipts</h4>
	<ul>
		<li><%= link_to "Receive Receipt", :controller => "inbound", :action => "start_receiving"				%></li>
		<li><%= link_to "Close Receipt", :controller => "inbound", :action => "close_receipt"					%></li>
	</ul>
	<br>
	<h4>Purchase Orders</h4>
	<ul>
		<li><%= link_to "Receive Purchase Order", :controller => 'inbound', :action => 'receive_purchase_order'	%>	</li>
		<li><%= link_to "Close Purchase Order", :controller => 'inbound', :action => 'close_purchase_order'	 	%>	</li>
	</ul>
	<h4>Storage	</h4>
	<ul>
		<li><%= link_to "Store Container", :controller => 'inbound', :action => 'initiate_storage'				 %><li>			
	</ul>
		