<% javascript 'dynamic_product_subcategories'%>

<h4>Product</h4>

	<p>
		Please enter search criteria for product lookup.
	</p>
	<%= form_for :product, :url => lookup_admin_products_path do |form| %>
		<table>
			<tr><td>Product Category	</td>	
				<td><%= form.select :product_category_id, @company.product_categories.collect {|pc| [pc.name, pc.id]}, :include_blank => true 			%></td>
				<td>Product Subcategory	</td>	
				<td id = "product_subcategory_field"><%= form.select :product_subcategory_id, @company.product_subcategories.collect {|ps| [ps.name, ps.id]}, :include_blank => true 	%></td>
			</tr>
			<tr><td>Product Name		</td>	
				<td><%= form.text_field :name								%></td> 
				<td>Supplier			</td>	
				<td><%= form.select :supplier_id, @company.suppliers.collect {|s| [s.name, s.id]}, :include_blank => true %></td>
			</tr>
		<table>
		<%= submit_tag "Search Products"%>
	<% end %>
	<br><br><hr><br>
	<% if request.post?	%>
		<% unless @products.empty?	%>
			<table>
				<tr><th>Supplier	</th><th>Product Name	</th>	<th>Product Category	</th>	<th>Product Subcategory</th>	<th>Health Check</th></tr>
				<% for product in @products %>
					<tr>
						<td><%= product.supplier.try(:name)							%>	</td>
						<td><%= product.name 										%>	</td>
						<td><%= product.product_category.try(:name)					%>	</td>
						<td><%= product.product_subcategory.try(:name) 				%>	</td>
						<td><%= product.health_check								%>	</td>
						<td><%= link_to "View", admin_product_path(product)			%>	</td>
						<td><%= link_to "Edit",	edit_admin_product_path(product)	%>	</td>
					</tr>
				<% end %>
			</table>
		<% else %>
			<p>No products were found that match that criteria.</p>
		<% end %>
	<% end %>
	<br><br><hr><br>
	<%= link_to "Add New Product", new_admin_product_path %>
	
					
