<h1>Setup company-default UOMs</h1>

<%= form_for :company, :url => {:controller => 'setup', :action => 'update_company_uoms'} do |form| %>
	<%= form.hidden_field :id %>
	<table>
		<tr><td>Quantity UOM	</td>	<td><%= form.select :default_quantity_uom_id, @qty_uoms.collect {|q| [q.name, q.id]} %></td></tr>
		<tr><td>Dimension UOM	</td>	<td><%= form.select :default_length_uom_id, @dim_uoms.collect {|d| [d.name, d.id]} %></td></tr>
		<tr><td>Weight OUM	</td>	<td><%= form.select :default_weight_uom_id, @wgt_uoms.collect {|w| [w.name, w.id]} %></td></tr>
	</table>
	<%= submit_tag "Set UOMs" %>
<% end %>	

