<h1>Please Enter the New Company Details</h1>

	<% form_for :company, :url => {:controller => 'setup', :action => 'create_company'}, :html=>{:multipart=>true} do |form| %>
	<table>
		<tr><td>Name 		</td>	<td><%= form.text_field :name %>												</td></tr>
		<tr><td>Address 1	</td>	<td><%= form.text_field :address_1 %>											</td></tr>
		<tr><td>Address 2	</td>	<td><%= form.text_field :address_2 %>											</td></tr>
		<tr><td>City		</td>	<td><%= form.text_field :city %>												</td></tr>
		<tr><td>Country		</td>	<td><%= form.select :country_id, @countries.collect {|c| [c.code, c.id] } %>	</td></tr>
		<tr><td>Logo File	</td>	<td><%= form.file_field :logo_filename %>										</td></tr>
	</table>
	<%= submit_tag "Create Companies" %>		 
	<% end %>
