<h3>Product Categories</h3>
	<% if @product_categories.empty? %>
		<p>No Product Categories created yet.</p>
	<% else %>
		<table>
			<tr><th>Name	</th>	<th>Description	</th>	</tr>
			<% for product_category in @product_categories %>
				<tr><td><%= product_category.name 																%>	</td>
					<td><%= product_category.description														%>	</td>
					<td><%= link_to "Subcategories", admin_product_category_product_subcategories_path(product_category.id)														%>	</td>
					<td><%= link_to "Edit", edit_admin_product_category_path(product_category)					%>	</td> 
					<td><%= product_category.deleteable? ? link_to("Delete", admin_product_category_path(product_category), :method => :delete) : ""	%>	</td>
				</tr>
			<% end %>
		</table>
	<% end %>
	<br><br><hr>
	<h4>Create New Product Category<h4>
		<%= form_for [:admin, @product_category] do |form| %>
			<%= form.hidden_field :company_id, :value => current_user.warehouse.company_id %>
			<table>
				<tr><td>Product Category Name			</td>	<td><%= form.text_field :name 			%>	</td></tr>
				<tr><td>Product Category Description	</td>	<td><%= form.text_field :description	%>	</td></tr>
			</table>
			<%= submit_tag "Create Product Category"%>
		<% end %>
