<h1>User Details	</h1>
<table>
	<tr><th>First Name					</th>	<td><%= @user.first_name	%>	</td></tr>
	<tr><th>Last Name					</th>	<td><%= @user.last_name		%>	</td></tr>
	<tr><th>Username					</th>	<td><%= @user.username		%>	</td></tr>
	<tr><th>Email						</th>	<td><%= @user.email			%>	</td></tr>
	<tr><th>Date of Birth				</th>	<td><%= @user.dob 			%>	</td></tr>
	<tr><th>Position					</th>	<td><%= @user.position		%>	</td></tr>
	<tr><th>Sex							</th>	<td><%= @user.sex			%>	</td></tr>
</table>		
<br><br>
<p>
	<%= link_to "Edit", edit_admin_user_path(@user)	%>
</p>
<p>
	<%= link_to "Users", admin_users_path	%>
</p>
