<!DOCTYPE html>
<html>
  <head>
        <title>WMS</title>
	  	<%= stylesheet_link_tag :all %>
	  	<%= javascript_include_tag :defaults %>
	  	<%= csrf_meta_tag %>
		<%= yield(:head)%>
  </head>
  <% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
  <% end %>
  <body>


     <%= yield %>
	<br><br>
	<%= link_to "Home", :controller => 'main' %>
  </body>
<p>
  <%= link_to "Receiving", :controller => 'receiving', :action => 'index' %>
</p>
</html>

