<!DOCTYPE html>
<html>
<head>
  <title>Wms</title>
  	<%= stylesheet_link_tag :all %>
  	<%= javascript_include_tag "dynamic_po_lines", "dynamic_product_subcategories", "set_product" %>
  	<%= csrf_meta_tag %>
	<%= yield(:head)%>

</head>
<% if flash[:notice] %>
  <div id="notice"><%= flash[:notice] %></div>
<% end %>

<body>

<%= yield %>
<br><br><br>
<%= link_to "Home", root_path %>

</body>
</html>
